<nav
  class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg"
  aria-label="Third navbar example"
>
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      Maoritius
      <img
        src="../../../assets/img/logoCrm.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />CRM
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="dropdown03"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../../../assets/img/mi-amor.jpg"
              alt=""
              width="50"
              height="50"
              class="rounded-circle me-2"
            />
            {{ userName$ | async }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item">
                <i class="bi bi-gear-fill me-1"></i>
                My Preferences
              </a>
            </li>
            <li appSignOut>
              <a class="dropdown-item">
                <i class="bi bi-box-arrow-right me-1"></i>
                Sign Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
