<app-page-header
  title="edit customer"
  description="edit exist customer"
  icon="bi bi-person-plus"
>
</app-page-header>

<div class="row mt-5">
  <div class="col-12">
    <form
      (ngSubmit)="onSubmit(customerForm)"
      #customerForm="ngForm"
      novalidate="novalidate"
      autocomplete="off"
    >
      <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
          <label for="firstName">
            <span class="text-danger me-1">*</span>
            <span>First Name</span>
          </label>

          <input
            type="text"
            required
            [(ngModel)]="form.firstName"
            #fnf="ngModel"
            minlength="2"
            id="firstName"
            name="firstName"
            class="form-control"
            [ngClass]="{
              'is-valid': fnf.touched && fnf.valid,
              'is-invalid': fnf.touched && fnf.invalid
            }"
          />

          <div *ngIf="fnf.errors?.['required']" class="invalid-feedback">
            First Name is necessary
          </div>

          <div *ngIf="fnf.errors?.['minlength']" class="invalid-feedback">
            firstName should have a least
            {{fnf.errors?.['minlength'].requiredLength}} characters
          </div>
        </div>

        <div class="col-md-5 mb-3">
          <label for="lastName">
            <span class="text-danger me-1">*</span>
            <span>Last Name</span>
          </label>

          <input
            [(ngModel)]="form.lastName"
            #lnf="ngModel"
            type="text"
            required
            minlength="2"
            id="lastName"
            name="lastName"
            class="form-control"
            [ngClass]="{
              'is-valid': lnf.touched && lnf.valid,
              'is-invalid': lnf.touched && lnf.invalid
            }"
          />

          <div *ngIf="lnf.errors?.['required']" class="invalid-feedback">
            Last Name is necessary
          </div>
          <div *ngIf="lnf.errors?.['minlength']" class="invalid-feedback">
            Last Name should ne a least
            {{fnf.errors?.['minlength'].requiredLength}} characters
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
          <label for="email">
            <span class="text-danger me-1">*</span>
            <span>Email</span>
          </label>

          <input
            type="text"
            [(ngModel)]="form.email"
            #ef="ngModel"
            required
            pattern="^([a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,6})$"
            id="email"
            name="email"
            class="form-control"
            [ngClass]="{
              'is-valid': ef.touched && ef.valid,
              'is-invalid': ef.touched && ef.invalid
            }"
          />

          <div *ngIf="ef.errors?.['required']" class="invalid-feedback">
            Email is required
          </div>
          <div *ngIf="ef.errors?.['pattern']" class="invalid-feedback">
            A valid email must be provided
          </div>
        </div>

        <div class="col-md-5 mb-3">
          <label for="phone">
            <span class="text-danger me-1">*</span>
            <span>Phone</span>
          </label>

          <input
            type="text"
            [(ngModel)]="form.phone"
            #pf="ngModel"
            required
            pattern="^0[2-9]\d{7,8}$"
            id="phone"
            name="phone"
            class="form-control"
            [ngClass]="{
              'is-valid': pf.touched && pf.valid,
              'is-invalid': pf.touched && pf.invalid
            }"
          />

          <div *ngIf="pf.errors?.['required']" class="invalid-feedback">
            Phone is required
          </div>
          <div *ngIf="pf.errors?.['pattern']" class="invalid-feedback">
            {{pf.errors?.['pattern'].actualValue}} is not a valid phone number
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10 mb-3">
          <label for="address">Address</label>

          <textarea
            id="address"
            [(ngModel)]="form.address"
            #af="ngModel"
            name="address"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10 mb-3">
          <label for="notes">Notes</label>

          <textarea
            [(ngModel)]="form.notes"
            #nf="ngModel"
            id="notes"
            name="notes"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
      </div>

      <!-- <pre>
        {{ forms | json }}
      </pre> -->

      <div class="row justify-content-center">
        <div class="bg-light p-3 text-center">
          <a routerLink=".." class="btn btn-secondary">Cancel</a>

          <input
            type="submit"
            value="Update"
            class="btn btn-primary ms-3"
            [disabled]="customerForm.invalid"
          />
        </div>
      </div>
    </form>
  </div>
</div>
